<footer class="site-footer">
  <div class="container footer__grid">

    <!-- BRAND -->
    <div class="footer__col">
      <h3>Guaguareando Ando</h3>
      <p>Historias que conectan desde la Ciudad de México.</p>

      <div class="footer__social">
        <a href="https://www.instagram.com/guaguareandoando?igsh=MTRwN2pzYzVjaDN1Zw==">Instagram</a>
        <a href="https://www.facebook.com/guaguareando.ando">Facebook</a>
        <a href="https://youtube.com/@guaguareandoando?si=a-bCZAbJMCQBf26k">YouTube</a>
        
      </div>
    </div>

    <!-- PROGRAMAS 1 -->
    <div class="footer__col">
      <h4>Programas</h4>
      <ul>
        <li>Deporteando Ando</li>
        <li>Letreando Ando</li>
        <li>Sobre El Arcoíris</li>
        <li>Tecnologeando Ando</li>
        <li>Entre Guitarras</li>
        <li>El Molcajete</li>
      </ul>
    </div>

    <!-- PROGRAMAS 2 -->
    <div class="footer__col">
      <h4>&nbsp;</h4>
      <ul>
        <li>Lo Que Callamos Los Maestros</li>
        <li>Ecos De La Inclusión</li>
        <li>Aventurando Ando</li>
        <li>Coleccionando Ando</li>
        <li>La Voz Del Diamante</li>
        <li>Amargueitor Ajenjo</li>
      </ul>
    </div>

    <!-- CONTACTO -->
    <div class="footer__col">
      <h4>Contacto</h4>
      <p>Ciudad de México</p>
      <p>guaguareandoando@gmail.com</p>

      <a href="https://wa.me/5215579913267" target="_blank" class="footer__whatsapp">
        💬 WhatsApp
      </a>
      <br>
      <a href="https://www.tiktok.com/@guaguareandoando_52?_r=1&_t=ZS-958cAo1D5Ck">Tik Tok</a>
    </div>

  </div>

  <!-- BOTTOM -->
  <div class="footer__bottom">
    <p>© 2026 Guaguareando Ando</p>
    <p>Desarrollado por <a href="https://siteccy.com/" target="_blank">Siteccy</a></p>
  </div>
</footer>