<header class="site-header">
  <div class="container header__wrapper">

    <div class="header__logo">
      <a href="index.html">
        <img src="/assets/img/Logo_Guagareando_confondo.jpg" alt="Guaguareando Ando">
      </a>
    </div>

    <nav class="header__nav" id="mainNav">
      <ul class="nav__list">
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="/pages/about-us.html">Nosotros</a></li>
        <li><a href="/pages/podcast.html">Podcast</a></li>
        <li><a href="/pages/programs.html">Programas</a></li>
        <li><a href="/pages/magazine.html">Revista</a></li>
        <li><a href="/pages/publicity.html">Pautas</a></li>
        <li><a href="/pages/contact.html">Contacto</a></li>

      </ul>
    </nav>

    <div class="header__cta">
      <a href="https://open.spotify.com/show/3pCnAtHoFvGbsbihWov8k0" target="_blank" class="btn btn--primary">🎙 Escuchar</a>  
    </div>

    <div class="menu-toggle" id="menuToggle">
      ☰
    </div>

  </div>
</header>