<header class="site-header">

    <div class="container site-header__container">

        <!-- Logo -->
        <a
            href="/"
            class="site-header__logo"
            aria-label="Guaguareando Ando - Inicio"
        >

            <img
                src="/assets/img/logo/guaguareando-logo.png"
                alt="Guaguareando Ando"
            >

        </a>


        <!-- Mobile menu button -->
        <button
            type="button"
            class="site-header__toggle"
            aria-label="Abrir menú de navegación"
            aria-expanded="false"
            aria-controls="main-navigation"
        >

            <span
                class="site-header__toggle-icon"
                aria-hidden="true"
            ></span>

        </button>


        <!-- Navigation -->
        <nav
            id="main-navigation"
            class="site-header__navigation"
            aria-label="Navegación principal"
        >

            <ul class="site-header__menu">

                <li class="site-header__item">

                    <a
                        href="/"
                        class="site-header__link"
                    >
                        Inicio
                    </a>

                </li>


                <li class="site-header__item">

                    <a
                        href="/about.html"
                        class="site-header__link"
                    >
                        Nosotros
                    </a>

                </li>


                <li class="site-header__item">

                    <a
                        href="/programs.html"
                        class="site-header__link"
                    >
                        Programas
                    </a>

                </li>


                <li class="site-header__item">

                    <a
                        href="/podcast.html"
                        class="site-header__link"
                    >
                        Podcast
                    </a>

                </li>


                <li class="site-header__item">

                    <a
                        href="/magazine.html"
                        class="site-header__link"
                    >
                        Revista digital
                    </a>

                </li>


                <li class="site-header__item">

                    <a
                        href="/advertising.html"
                        class="site-header__link"
                    >
                        Publicidad
                    </a>

                </li>


                <li class="site-header__item">

                    <a
                        href="/contact.html"
                        class="site-header__link"
                    >
                        Contacto
                    </a>

                </li>

            </ul>

        </nav>

    </div>

</header>